%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .row
    .col-sm-12
      .form-group.row
        .col-sm-4
          =f.label :name, class: 'col-form-label'
        .col-sm-8
          =f.text_field :name, class: 'form-control', class: 'form-control'
      .form-group.row
        .col-sm-4
          =f.label :email, class: 'col-form-label'
        .col-sm-8
          =f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", class: 'form-control'
      .form-group.row
        .col-sm-4
          =f.label :birthday, class: 'col-form-label'
        .col-sm-8
          =f.date_field :birthday, class: 'form-control', class: 'form-control'
      .form-group.row
        .col-sm-4
          =f.label :password, class: 'col-form-label'
        .col-sm-8
          =f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Senha...'
      .form-group.row
        .col-sm-4
          =f.label :password_confirmation, class: 'col-form-label'
        .col-sm-8
          =f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirmação da Senha...'
  .row
    .col-sm-12
      =f.submit t('actions.sign_up'), class: 'btn btn-secondary btn-sm'
