= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-sm-12
      .form-group.row
        =f.label :email, class: 'col-sm-4 col-form-label'
        .col-sm-8
          =f.text_field :email, class: 'form-control', placeholder: 'Nome do quadro...'
      .form-group.row
        =f.label :password, class: 'col-sm-4 col-form-label'
        .col-sm-8
          =f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Senha...'
  .row
    .col-sm-12
      =f.submit t('actions.sign_in'), class: 'btn btn-secondary btn-sm'