= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-sm-12
      .form-group.row
        .col-sm-4
          =f.label :email, class: 'col-form-label'
        .col-sm-8
          =f.email_field :email, class: 'form-control', placeholder: 'Email do usuário...'
      .form-group.row
        .col-sm-4
          =f.label :password, class: 'col-form-label'
        .col-sm-8
          =f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Senha...'
  .row
    .col-sm-12
      =f.submit t('actions.sign_in'), class: 'btn btn-secondary btn-sm'